<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/DashboarsScript.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("DashboarsScript", required: false);
</body>
</html>
